@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #068AB6;
    --light-background-color: rgb(245, 245, 245, 1);
    --universal-color: #000;
    --para-color: #444040b0;
}

/* General Footer Styling */
.custom-footer {
    background-color: #121212;
    color: #f4f4f4;
    padding: 2rem 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.footer-branding {
    width: 30%;
}
.footer-branding img {
    filter: brightness(0) invert(1);
}

.footer-branding h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

.footer-branding p {
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 0.5rem;
    color: #ccc;
}

.footer-nav h3,
.footer-contact h3,
.footer-socials h3,
.footer-legal h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.footer-nav ul,
.footer-legal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav ul li,
.footer-legal ul li {
    margin-bottom: 0.5rem;
}

.footer-nav ul li a,
.footer-legal ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-nav ul li a:hover,
.footer-legal ul li a:hover{
    color: var(--primary-color);
}

.footer-contact p {
    font-size: 0.9rem;
    line-height: 1.6;
}

.footer-contact a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a:hover {
    color: #f4f4f4;
}

.footer-socials .social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: -0.5rem;
}

.footer-socials .social-icons a img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.footer-socials .social-icons a img:hover {
    transform: scale(1.1);
    filter: brightness(0.8) invert(1);
}

/* .footer-legal h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
} */




.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #333;
    padding-top: 1rem;
    font-size: 0.8rem;
    color: #777;
}


/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-nav ul,
    .footer-contact {
        margin-top: 1rem;
    }

    .footer-socials .social-icons {
        justify-content: center;
    }
}
